<!DOCTYPE html>
<head>
	
	<meta charset="utf-8">
	<title>deep dream yourselfie</title>
	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono" rel="stylesheet">
	
	<link rel="stylesheet" type="text/css" href="/assets/css/styles.css">

</head>
<body>
	
	<div id="header">
		<h1>deep dream yourselfie</h1>
	</div>

	<center>
		<div>
			<div>
				<img scr"" id="beforeSelfie" />
				<%- result %>
			</div>
			<a id="redo" href="/">start over</a>
		</div>
	</center>

	<script type="text/javascript" src="app/results.js" async></script>

</body>