img#selfie {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    /*height: 240px;*/
    z-index: 10;
    display: none;
}

img#picked {
    position: absolute;
    top: 0;
    left: 0;
    /*width: 400px;*/
    /*height: 240px;*/
    z-index: 10;
    display: none;
}

canvas{
    display: none;
}

ul#ul {
    width: 900px;
    vertical-align: middle;
    list-style: none;
	}
	ul#ul li {
		display: inline;
		padding-right: 5px;
		padding-top: 5px;
	}


img#style {
	height: 200px;
	width: 200px;
}

.container_styles {
	height: 220px;
}

#table {
	display: table;
	margin: 0px;
}

#review {
	display: table;
	margin: 0px;
}
